:root{
	font-size: 18px;
}

* {
	box-sizing: border-box;
	font-size: 1rem;
}

html, body {
	width: 100%; /* Asegura que el ancho de la página sea el 100% del viewport */
	height: 100%; /* Asegura que la altura de la página sea el 100% del viewport */
	margin: 0; /* Elimina los márgenes predeterminados */
	padding: 0; /* Elimina el padding predeterminado */
  }

body {
	font-size: 1rem;
	padding: 0;
	margin: 0;
	background: black;
	color: white;
}


.container {
	max-width: 1200px;
	margin: 0 auto;
}

/*Text*/
h1 {
	font-size: 2rem;
}
h2{
	font-size: 1.8rem;
}
h3{
	font-size: 1.5rem;
}
h4{
	font-size: 1.2rem;
}
p,a,li,div,ul,ol{
	font-size: 1rem;
}


#gallery {
	margin: 0 -10px;
}

#gallery img {
	max-width: 23%;
	margin: 10px;
	border: 1px solid gray;
	box-shadow: 0 1px 2px rgba(0,0,0,.25);
	cursor: pointer;
}


.inner-content {
	padding-top: 50px;
}

img.overlay {
	position: absolute;
	top: 0;
	left: 0;	
	opacity: .6;
}

.imgContainer {
	position: relative;
	padding: 0;
}

.slides {
	text-align: center;
}

.slider__nav-item {
	background: #232323;
	border-radius: 50%;
}

.slider__nav-item--current {
	background: white;
}

.slider__arrows-item {
	font-size: 2em;
	color: white;
	text-decoration: none;
}

.filters {
	margin: 20px 0;
}

.question {
	margin: 0 0 40px;
}

.modal {
	color: black;
}

/*Responsive site*/

@media only screen and (max-width: 768px) {
	/* Estilos para dispositivos con pantalla de hasta 768px de ancho */
	:root{
		font-size: 16px;
	}
	h1{
		font-size: 3.5rem;
	}
	body .inner-content{
		height: 100vh;
	}
	body .inner-content .container{
		height: 100%;
	}
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
	/* Estilos para dispositivos con pantalla entre 769px y 1024px de ancho */
  }
  
  @media (min-width: 1025px) {
	/* Estilos para dispositivos con pantalla de 1025px en adelante */
  }
  